@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 0, 0, 0;
        --background-start-rgb: 255, 255, 255;
        --background-end-rgb: 255, 255, 255;
    }

    .cinematics {
        box-shadow: 0 0 200px rgba(255, 255, 255, 0.15);
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.ant-carousel .slick-dots li button {
    background: #ff4ef6;
    opacity: 0.4;
}

.ant-carousel .slick-dots li.slick-active button {
    opacity: 1;
    background: #ff4ef6;
}

.ant-btn-text {
    &:hover {
        background-color: unset !important;
    }
}

.cinematics {
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.15);
}


@import url('https://fonts.cdnfonts.com/css/chabul?styles=162161');
@import url('https://fonts.cdnfonts.com/css/handyplast');

.ocean { 
 height: 5%;
 width:100%;
 position:absolute;
 bottom:0;
 left:0;
 background: #015871;
}

.wave {
 background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
 position: absolute;
 top: -198px;
 width: 6400px;
 height: 198px;
 animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
 transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
 top: -175px;
 animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
 opacity: 1;
}

@keyframes wave {
 0% {
   margin-left: 0;
 }
 100% {
   margin-left: -1600px;
 }
}

@keyframes swell {
 0%, 100% {
   transform: translate3d(0,-25px,0);
 }
 50% {
   transform: translate3d(0,5px,0);
 }
}